*{
    box-sizing: border-box;
}
.right-sidebar{
    float: right;
    width: 300px;
    margin: 70px 0px 15px 24px;
    font-size: 20px;
    background-color: #fdf7e2;
    transition: right 0.3s ease-in-out;
}
.widget{
    margin-top: 0px;
    box-shadow: 3px 3px 10px rgb(0,0,0 / 5%),-3px -3px 10px rgb(0,0,0 / 5%);

}
.widget h4{
    background-color: #fdf7e2;
    margin: 0%;
    padding: 20px;
    border: solid 1px #f1e5bc;

}
.right-sidebar-div-1{
    background-color: #fdf7e2;
    padding: 15px;
    border: solid 1px #f1e5bc;

}
.right-sidebar-div-1 .right-sidebar-div-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    

}

.right-sidebar-div-1 .right-sidebar-div-2 p{
    padding-left: 10px;
    margin-top: 0%;
    font-size: 16px;

}
.widget-tags{
    margin-top: 40px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%), -3px -3px 10px rgb(0 0 0 / 5%);
}
.widget-tags h4{
    margin: 0%;
    padding: 20px;
    background-color: #fdf7e2;
    border: solid 1px #e3e6e8;


}
.widget-tags-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #fdf7e2;
    padding: 20px;

}
.widget-tags-div p{
    padding: 9px;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 2px;
    font-size: 12px;
}
.pen{
    width: 11px;
    margin-top: 6px;
    margin-right: 2px;
}
.background{
    width: 16px;
    margin-bottom: 3px;

}
.hotnetwork{
    width: 14px;
    margin-top: 5px;
}